@layer utilities {
    /* === BACKGROUND === */
    .bg-default {
        background-color: rgb(var(--bg-default-rgb));
    }

    .bg-default\/5 {
        background-color: rgb(var(--bg-default-rgb) / 0.05);
    }

    .bg-default\/10 {
        background-color: rgb(var(--bg-default-rgb) / 0.1);
    }

    .bg-default\/20 {
        background-color: rgb(var(--bg-default-rgb) / 0.2);
    }

    .bg-default\/25 {
        background-color: rgb(var(--bg-default-rgb) / 0.25);
    }

    .bg-default\/30 {
        background-color: rgb(var(--bg-default-rgb) / 0.3);
    }

    .bg-default\/40 {
        background-color: rgb(var(--bg-default-rgb) / 0.4);
    }

    .bg-default\/50 {
        background-color: rgb(var(--bg-default-rgb) / 0.5);
    }

    .bg-default\/60 {
        background-color: rgb(var(--bg-default-rgb) / 0.6);
    }

    .bg-default\/70 {
        background-color: rgb(var(--bg-default-rgb) / 0.7);
    }

    .bg-default\/75 {
        background-color: rgb(var(--bg-default-rgb) / 0.75);
    }

    .bg-default\/80 {
        background-color: rgb(var(--bg-default-rgb) / 0.8);
    }

    .bg-default\/90 {
        background-color: rgb(var(--bg-default-rgb) / 0.9);
    }

    .bg-default\/95 {
        background-color: rgb(var(--bg-default-rgb) / 0.95);
    }

    .bg-muted {
        background-color: rgb(var(--bg-muted-rgb));
    }

    .bg-muted\/5 {
        background-color: rgb(var(--bg-muted-rgb) / 0.05);
    }

    .bg-muted\/10 {
        background-color: rgb(var(--bg-muted-rgb) / 0.1);
    }

    .bg-muted\/20 {
        background-color: rgb(var(--bg-muted-rgb) / 0.2);
    }

    .bg-muted\/25 {
        background-color: rgb(var(--bg-muted-rgb) / 0.25);
    }

    .bg-muted\/30 {
        background-color: rgb(var(--bg-muted-rgb) / 0.3);
    }

    .bg-muted\/40 {
        background-color: rgb(var(--bg-muted-rgb) / 0.4);
    }

    .bg-muted\/50 {
        background-color: rgb(var(--bg-muted-rgb) / 0.5);
    }

    .bg-muted\/60 {
        background-color: rgb(var(--bg-muted-rgb) / 0.6);
    }

    .bg-muted\/70 {
        background-color: rgb(var(--bg-muted-rgb) / 0.7);
    }

    .bg-muted\/75 {
        background-color: rgb(var(--bg-muted-rgb) / 0.75);
    }

    .bg-muted\/80 {
        background-color: rgb(var(--bg-muted-rgb) / 0.8);
    }

    .bg-muted\/90 {
        background-color: rgb(var(--bg-muted-rgb) / 0.9);
    }

    .bg-muted\/95 {
        background-color: rgb(var(--bg-muted-rgb) / 0.95);
    }

    .bg-elevated {
        background-color: rgb(var(--bg-elevated-rgb));
    }

    .bg-elevated\/5 {
        background-color: rgb(var(--bg-elevated-rgb) / 0.05);
    }

    .bg-elevated\/10 {
        background-color: rgb(var(--bg-elevated-rgb) / 0.1);
    }

    .bg-elevated\/20 {
        background-color: rgb(var(--bg-elevated-rgb) / 0.2);
    }

    .bg-elevated\/25 {
        background-color: rgb(var(--bg-elevated-rgb) / 0.25);
    }

    .bg-elevated\/30 {
        background-color: rgb(var(--bg-elevated-rgb) / 0.3);
    }

    .bg-elevated\/40 {
        background-color: rgb(var(--bg-elevated-rgb) / 0.4);
    }

    .bg-elevated\/50 {
        background-color: rgb(var(--bg-elevated-rgb) / 0.5);
    }

    .bg-elevated\/60 {
        background-color: rgb(var(--bg-elevated-rgb) / 0.6);
    }

    .bg-elevated\/70 {
        background-color: rgb(var(--bg-elevated-rgb) / 0.7);
    }

    .bg-elevated\/75 {
        background-color: rgb(var(--bg-elevated-rgb) / 0.75);
    }

    .bg-elevated\/80 {
        background-color: rgb(var(--bg-elevated-rgb) / 0.8);
    }

    .bg-elevated\/90 {
        background-color: rgb(var(--bg-elevated-rgb) / 0.9);
    }

    .bg-elevated\/95 {
        background-color: rgb(var(--bg-elevated-rgb) / 0.95);
    }

    .bg-accented {
        background-color: rgb(var(--bg-accented-rgb));
    }

    .bg-accented\/5 {
        background-color: rgb(var(--bg-accented-rgb) / 0.05);
    }

    .bg-accented\/10 {
        background-color: rgb(var(--bg-accented-rgb) / 0.1);
    }

    .bg-accented\/20 {
        background-color: rgb(var(--bg-accented-rgb) / 0.2);
    }

    .bg-accented\/25 {
        background-color: rgb(var(--bg-accented-rgb) / 0.25);
    }

    .bg-accented\/30 {
        background-color: rgb(var(--bg-accented-rgb) / 0.3);
    }

    .bg-accented\/40 {
        background-color: rgb(var(--bg-accented-rgb) / 0.4);
    }

    .bg-accented\/50 {
        background-color: rgb(var(--bg-accented-rgb) / 0.5);
    }

    .bg-accented\/60 {
        background-color: rgb(var(--bg-accented-rgb) / 0.6);
    }

    .bg-accented\/70 {
        background-color: rgb(var(--bg-accented-rgb) / 0.7);
    }

    .bg-accented\/75 {
        background-color: rgb(var(--bg-accented-rgb) / 0.75);
    }

    .bg-accented\/80 {
        background-color: rgb(var(--bg-accented-rgb) / 0.8);
    }

    .bg-accented\/90 {
        background-color: rgb(var(--bg-accented-rgb) / 0.9);
    }

    .bg-accented\/95 {
        background-color: rgb(var(--bg-accented-rgb) / 0.95);
    }

    .bg-inverted {
        background-color: rgb(var(--bg-inverted-rgb));
    }

    .bg-inverted\/5 {
        background-color: rgb(var(--bg-inverted-rgb) / 0.05);
    }

    .bg-inverted\/10 {
        background-color: rgb(var(--bg-inverted-rgb) / 0.1);
    }

    .bg-inverted\/20 {
        background-color: rgb(var(--bg-inverted-rgb) / 0.2);
    }

    .bg-inverted\/25 {
        background-color: rgb(var(--bg-inverted-rgb) / 0.25);
    }

    .bg-inverted\/30 {
        background-color: rgb(var(--bg-inverted-rgb) / 0.3);
    }

    .bg-inverted\/40 {
        background-color: rgb(var(--bg-inverted-rgb) / 0.4);
    }

    .bg-inverted\/50 {
        background-color: rgb(var(--bg-inverted-rgb) / 0.5);
    }

    .bg-inverted\/60 {
        background-color: rgb(var(--bg-inverted-rgb) / 0.6);
    }

    .bg-inverted\/70 {
        background-color: rgb(var(--bg-inverted-rgb) / 0.7);
    }

    .bg-inverted\/75 {
        background-color: rgb(var(--bg-inverted-rgb) / 0.75);
    }

    .bg-inverted\/80 {
        background-color: rgb(var(--bg-inverted-rgb) / 0.8);
    }

    .bg-inverted\/90 {
        background-color: rgb(var(--bg-inverted-rgb) / 0.9);
    }

    .bg-inverted\/95 {
        background-color: rgb(var(--bg-inverted-rgb) / 0.95);
    }

    /* === TEXT === */
    .text-default {
        color: rgb(var(--text-default-rgb));
    }

    .text-default\/5 {
        color: rgb(var(--text-default-rgb) / 0.05);
    }

    .text-default\/10 {
        color: rgb(var(--text-default-rgb) / 0.1);
    }

    .text-default\/20 {
        color: rgb(var(--text-default-rgb) / 0.2);
    }

    .text-default\/25 {
        color: rgb(var(--text-default-rgb) / 0.25);
    }

    .text-default\/30 {
        color: rgb(var(--text-default-rgb) / 0.3);
    }

    .text-default\/40 {
        color: rgb(var(--text-default-rgb) / 0.4);
    }

    .text-default\/50 {
        color: rgb(var(--text-default-rgb) / 0.5);
    }

    .text-default\/60 {
        color: rgb(var(--text-default-rgb) / 0.6);
    }

    .text-default\/70 {
        color: rgb(var(--text-default-rgb) / 0.7);
    }

    .text-default\/75 {
        color: rgb(var(--text-default-rgb) / 0.75);
    }

    .text-default\/80 {
        color: rgb(var(--text-default-rgb) / 0.8);
    }

    .text-default\/90 {
        color: rgb(var(--text-default-rgb) / 0.9);
    }

    .text-default\/95 {
        color: rgb(var(--text-default-rgb) / 0.95);
    }

    .text-foreground {
        color: rgb(var(--text-default-rgb));
    }

    .text-foreground\/5 {
        color: rgb(var(--text-default-rgb) / 0.05);
    }

    .text-foreground\/10 {
        color: rgb(var(--text-default-rgb) / 0.1);
    }

    .text-foreground\/20 {
        color: rgb(var(--text-default-rgb) / 0.2);
    }

    .text-foreground\/25 {
        color: rgb(var(--text-default-rgb) / 0.25);
    }

    .text-foreground\/30 {
        color: rgb(var(--text-default-rgb) / 0.3);
    }

    .text-foreground\/40 {
        color: rgb(var(--text-default-rgb) / 0.4);
    }

    .text-foreground\/50 {
        color: rgb(var(--text-default-rgb) / 0.5);
    }

    .text-foreground\/60 {
        color: rgb(var(--text-default-rgb) / 0.6);
    }

    .text-foreground\/70 {
        color: rgb(var(--text-default-rgb) / 0.7);
    }

    .text-foreground\/75 {
        color: rgb(var(--text-default-rgb) / 0.75);
    }

    .text-foreground\/80 {
        color: rgb(var(--text-default-rgb) / 0.8);
    }

    .text-foreground\/90 {
        color: rgb(var(--text-default-rgb) / 0.9);
    }

    .text-foreground\/95 {
        color: rgb(var(--text-default-rgb) / 0.95);
    }

    .text-muted {
        color: rgb(var(--text-muted-rgb));
    }

    .text-muted\/5 {
        color: rgb(var(--text-muted-rgb) / 0.05);
    }

    .text-muted\/10 {
        color: rgb(var(--text-muted-rgb) / 0.1);
    }

    .text-muted\/20 {
        color: rgb(var(--text-muted-rgb) / 0.2);
    }

    .text-muted\/25 {
        color: rgb(var(--text-muted-rgb) / 0.25);
    }

    .text-muted\/30 {
        color: rgb(var(--text-muted-rgb) / 0.3);
    }

    .text-muted\/40 {
        color: rgb(var(--text-muted-rgb) / 0.4);
    }

    .text-muted\/50 {
        color: rgb(var(--text-muted-rgb) / 0.5);
    }

    .text-muted\/60 {
        color: rgb(var(--text-muted-rgb) / 0.6);
    }

    .text-muted\/70 {
        color: rgb(var(--text-muted-rgb) / 0.7);
    }

    .text-muted\/75 {
        color: rgb(var(--text-muted-rgb) / 0.75);
    }

    .text-muted\/80 {
        color: rgb(var(--text-muted-rgb) / 0.8);
    }

    .text-muted\/90 {
        color: rgb(var(--text-muted-rgb) / 0.9);
    }

    .text-muted\/95 {
        color: rgb(var(--text-muted-rgb) / 0.95);
    }

    .text-dimmed {
        color: rgb(var(--text-dimmed-rgb));
    }

    .text-dimmed\/5 {
        color: rgb(var(--text-dimmed-rgb) / 0.05);
    }

    .text-dimmed\/10 {
        color: rgb(var(--text-dimmed-rgb) / 0.1);
    }

    .text-dimmed\/20 {
        color: rgb(var(--text-dimmed-rgb) / 0.2);
    }

    .text-dimmed\/25 {
        color: rgb(var(--text-dimmed-rgb) / 0.25);
    }

    .text-dimmed\/30 {
        color: rgb(var(--text-dimmed-rgb) / 0.3);
    }

    .text-dimmed\/40 {
        color: rgb(var(--text-dimmed-rgb) / 0.4);
    }

    .text-dimmed\/50 {
        color: rgb(var(--text-dimmed-rgb) / 0.5);
    }

    .text-dimmed\/60 {
        color: rgb(var(--text-dimmed-rgb) / 0.6);
    }

    .text-dimmed\/70 {
        color: rgb(var(--text-dimmed-rgb) / 0.7);
    }

    .text-dimmed\/75 {
        color: rgb(var(--text-dimmed-rgb) / 0.75);
    }

    .text-dimmed\/80 {
        color: rgb(var(--text-dimmed-rgb) / 0.8);
    }

    .text-dimmed\/90 {
        color: rgb(var(--text-dimmed-rgb) / 0.9);
    }

    .text-dimmed\/95 {
        color: rgb(var(--text-dimmed-rgb) / 0.95);
    }

    .text-toned {
        color: rgb(var(--text-toned-rgb));
    }

    .text-toned\/5 {
        color: rgb(var(--text-toned-rgb) / 0.05);
    }

    .text-toned\/10 {
        color: rgb(var(--text-toned-rgb) / 0.1);
    }

    .text-toned\/20 {
        color: rgb(var(--text-toned-rgb) / 0.2);
    }

    .text-toned\/25 {
        color: rgb(var(--text-toned-rgb) / 0.25);
    }

    .text-toned\/30 {
        color: rgb(var(--text-toned-rgb) / 0.3);
    }

    .text-toned\/40 {
        color: rgb(var(--text-toned-rgb) / 0.4);
    }

    .text-toned\/50 {
        color: rgb(var(--text-toned-rgb) / 0.5);
    }

    .text-toned\/60 {
        color: rgb(var(--text-toned-rgb) / 0.6);
    }

    .text-toned\/70 {
        color: rgb(var(--text-toned-rgb) / 0.7);
    }

    .text-toned\/75 {
        color: rgb(var(--text-toned-rgb) / 0.75);
    }

    .text-toned\/80 {
        color: rgb(var(--text-toned-rgb) / 0.8);
    }

    .text-toned\/90 {
        color: rgb(var(--text-toned-rgb) / 0.9);
    }

    .text-toned\/95 {
        color: rgb(var(--text-toned-rgb) / 0.95);
    }

    .text-highlighted {
        color: rgb(var(--text-highlighted-rgb));
    }

    .text-highlighted\/5 {
        color: rgb(var(--text-highlighted-rgb) / 0.05);
    }

    .text-highlighted\/10 {
        color: rgb(var(--text-highlighted-rgb) / 0.1);
    }

    .text-highlighted\/20 {
        color: rgb(var(--text-highlighted-rgb) / 0.2);
    }

    .text-highlighted\/25 {
        color: rgb(var(--text-highlighted-rgb) / 0.25);
    }

    .text-highlighted\/30 {
        color: rgb(var(--text-highlighted-rgb) / 0.3);
    }

    .text-highlighted\/40 {
        color: rgb(var(--text-highlighted-rgb) / 0.4);
    }

    .text-highlighted\/50 {
        color: rgb(var(--text-highlighted-rgb) / 0.5);
    }

    .text-highlighted\/60 {
        color: rgb(var(--text-highlighted-rgb) / 0.6);
    }

    .text-highlighted\/70 {
        color: rgb(var(--text-highlighted-rgb) / 0.7);
    }

    .text-highlighted\/75 {
        color: rgb(var(--text-highlighted-rgb) / 0.75);
    }

    .text-highlighted\/80 {
        color: rgb(var(--text-highlighted-rgb) / 0.8);
    }

    .text-highlighted\/90 {
        color: rgb(var(--text-highlighted-rgb) / 0.9);
    }

    .text-highlighted\/95 {
        color: rgb(var(--text-highlighted-rgb) / 0.95);
    }

    .text-inverted {
        color: rgb(var(--text-inverted-rgb));
    }

    .text-inverted\/5 {
        color: rgb(var(--text-inverted-rgb) / 0.05);
    }

    .text-inverted\/10 {
        color: rgb(var(--text-inverted-rgb) / 0.1);
    }

    .text-inverted\/20 {
        color: rgb(var(--text-inverted-rgb) / 0.2);
    }

    .text-inverted\/25 {
        color: rgb(var(--text-inverted-rgb) / 0.25);
    }

    .text-inverted\/30 {
        color: rgb(var(--text-inverted-rgb) / 0.3);
    }

    .text-inverted\/40 {
        color: rgb(var(--text-inverted-rgb) / 0.4);
    }

    .text-inverted\/50 {
        color: rgb(var(--text-inverted-rgb) / 0.5);
    }

    .text-inverted\/60 {
        color: rgb(var(--text-inverted-rgb) / 0.6);
    }

    .text-inverted\/70 {
        color: rgb(var(--text-inverted-rgb) / 0.7);
    }

    .text-inverted\/75 {
        color: rgb(var(--text-inverted-rgb) / 0.75);
    }

    .text-inverted\/80 {
        color: rgb(var(--text-inverted-rgb) / 0.8);
    }

    .text-inverted\/90 {
        color: rgb(var(--text-inverted-rgb) / 0.9);
    }

    .text-inverted\/95 {
        color: rgb(var(--text-inverted-rgb) / 0.95);
    }

    /* === BORDER === */
    .border-default {
        border-color: rgb(var(--border-default-rgb));
    }

    .border-default\/5 {
        border-color: rgb(var(--border-default-rgb) / 0.05);
    }

    .border-default\/10 {
        border-color: rgb(var(--border-default-rgb) / 0.1);
    }

    .border-default\/20 {
        border-color: rgb(var(--border-default-rgb) / 0.2);
    }

    .border-default\/25 {
        border-color: rgb(var(--border-default-rgb) / 0.25);
    }

    .border-default\/30 {
        border-color: rgb(var(--border-default-rgb) / 0.3);
    }

    .border-default\/40 {
        border-color: rgb(var(--border-default-rgb) / 0.4);
    }

    .border-default\/50 {
        border-color: rgb(var(--border-default-rgb) / 0.5);
    }

    .border-default\/60 {
        border-color: rgb(var(--border-default-rgb) / 0.6);
    }

    .border-default\/70 {
        border-color: rgb(var(--border-default-rgb) / 0.7);
    }

    .border-default\/75 {
        border-color: rgb(var(--border-default-rgb) / 0.75);
    }

    .border-default\/80 {
        border-color: rgb(var(--border-default-rgb) / 0.8);
    }

    .border-default\/90 {
        border-color: rgb(var(--border-default-rgb) / 0.9);
    }

    .border-default\/95 {
        border-color: rgb(var(--border-default-rgb) / 0.95);
    }

    .border-muted {
        border-color: rgb(var(--border-muted-rgb));
    }

    .border-muted\/5 {
        border-color: rgb(var(--border-muted-rgb) / 0.05);
    }

    .border-muted\/10 {
        border-color: rgb(var(--border-muted-rgb) / 0.1);
    }

    .border-muted\/20 {
        border-color: rgb(var(--border-muted-rgb) / 0.2);
    }

    .border-muted\/25 {
        border-color: rgb(var(--border-muted-rgb) / 0.25);
    }

    .border-muted\/30 {
        border-color: rgb(var(--border-muted-rgb) / 0.3);
    }

    .border-muted\/40 {
        border-color: rgb(var(--border-muted-rgb) / 0.4);
    }

    .border-muted\/50 {
        border-color: rgb(var(--border-muted-rgb) / 0.5);
    }

    .border-muted\/60 {
        border-color: rgb(var(--border-muted-rgb) / 0.6);
    }

    .border-muted\/70 {
        border-color: rgb(var(--border-muted-rgb) / 0.7);
    }

    .border-muted\/75 {
        border-color: rgb(var(--border-muted-rgb) / 0.75);
    }

    .border-muted\/80 {
        border-color: rgb(var(--border-muted-rgb) / 0.8);
    }

    .border-muted\/90 {
        border-color: rgb(var(--border-muted-rgb) / 0.9);
    }

    .border-muted\/95 {
        border-color: rgb(var(--border-muted-rgb) / 0.95);
    }

    .border-accented {
        border-color: rgb(var(--border-accented-rgb));
    }

    .border-accented\/5 {
        border-color: rgb(var(--border-accented-rgb) / 0.05);
    }

    .border-accented\/10 {
        border-color: rgb(var(--border-accented-rgb) / 0.1);
    }

    .border-accented\/20 {
        border-color: rgb(var(--border-accented-rgb) / 0.2);
    }

    .border-accented\/25 {
        border-color: rgb(var(--border-accented-rgb) / 0.25);
    }

    .border-accented\/30 {
        border-color: rgb(var(--border-accented-rgb) / 0.3);
    }

    .border-accented\/40 {
        border-color: rgb(var(--border-accented-rgb) / 0.4);
    }

    .border-accented\/50 {
        border-color: rgb(var(--border-accented-rgb) / 0.5);
    }

    .border-accented\/60 {
        border-color: rgb(var(--border-accented-rgb) / 0.6);
    }

    .border-accented\/70 {
        border-color: rgb(var(--border-accented-rgb) / 0.7);
    }

    .border-accented\/75 {
        border-color: rgb(var(--border-accented-rgb) / 0.75);
    }

    .border-accented\/80 {
        border-color: rgb(var(--border-accented-rgb) / 0.8);
    }

    .border-accented\/90 {
        border-color: rgb(var(--border-accented-rgb) / 0.9);
    }

    .border-accented\/95 {
        border-color: rgb(var(--border-accented-rgb) / 0.95);
    }

    .border-inverted {
        border-color: rgb(var(--border-inverted-rgb));
    }

    .border-inverted\/5 {
        border-color: rgb(var(--border-inverted-rgb) / 0.05);
    }

    .border-inverted\/10 {
        border-color: rgb(var(--border-inverted-rgb) / 0.1);
    }

    .border-inverted\/20 {
        border-color: rgb(var(--border-inverted-rgb) / 0.2);
    }

    .border-inverted\/25 {
        border-color: rgb(var(--border-inverted-rgb) / 0.25);
    }

    .border-inverted\/30 {
        border-color: rgb(var(--border-inverted-rgb) / 0.3);
    }

    .border-inverted\/40 {
        border-color: rgb(var(--border-inverted-rgb) / 0.4);
    }

    .border-inverted\/50 {
        border-color: rgb(var(--border-inverted-rgb) / 0.5);
    }

    .border-inverted\/60 {
        border-color: rgb(var(--border-inverted-rgb) / 0.6);
    }

    .border-inverted\/70 {
        border-color: rgb(var(--border-inverted-rgb) / 0.7);
    }

    .border-inverted\/75 {
        border-color: rgb(var(--border-inverted-rgb) / 0.75);
    }

    .border-inverted\/80 {
        border-color: rgb(var(--border-inverted-rgb) / 0.8);
    }

    .border-inverted\/90 {
        border-color: rgb(var(--border-inverted-rgb) / 0.9);
    }

    .border-inverted\/95 {
        border-color: rgb(var(--border-inverted-rgb) / 0.95);
    }
}
