@import 'tailwindcss';
@import './variables.css';
@import './colors.css';

@plugin 'tailwind-scrollbar';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer components {
    .vessel {
        background-color: var(--bg-default);
        color: var(--text-default);
        @apply min-h-screen w-screen px-4 py-8;
    }

    .vessel-flex {
        @apply flex;
    }
}
